target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
Servers/

# Intellij
*.iml
*.iws
**/out
.idea

# Mac
.DS_Store

# Maven
**/log/
**/*.log
**/tmp
**/.tmp
**/bin/**
**/overlays
.mvn/*
mvnw
mvnw.cmd
.mvn


# jrebel
**/.rebel-remote.xml
**/.rebel.xml


# vscode
.vscode/

# logstash
build/**

